@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');    

body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: hsl(204, 43%, 93%);
    background-color: hsl(204, 43%, 93%);
}
.container{
    box-sizing: border-box;
    padding: 70px 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgrey; 
}
h2{
    font-size: 1.28em;
    font-weight: 600;
    line-height: 1.5em;
    padding: 6px 0;
}
h3{
    font-weight: 600;
    line-height: 1.5em;
    font-size: 17px;
    padding: 5px 0;
}
p{
    padding: 12px 0;
    line-height: 1.5em;
    font-size: 16px;
}
.subscription, .join, .why-us{
    padding: 6%;
}
.join{
    padding: 6%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    color: #b5b9c0;
}
.text h2{
    color: #44adac;
}
.text h3{
    color: #bfdf34;
}
.subscription{
    background: hsl(179, 62%, 43%);
    color: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.subscription p{
    padding: 0;
}
.subscription .price{
    font-size: 30px;
    font-weight: 700;
    padding: 0;
}
.subscription span{
    color: #75e0e0;
    font-size: 16px;
}
.subscription a{
    text-decoration: none;
    cursor: pointer;
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    padding: 15px 0;
    position: relative;
    width: 100%;
    border-radius: 6px;
    margin: 25px auto 5px;
    transition: all 300ms ease-in-out;
}
.subscription a:hover{
    background: #fff;
    color: #2ab2af;
    box-shadow: inset 0 1px 3px;
}
.why-us{
    background-color: #4abebd;
    color: #fff;
}
.why-us ul li{
    line-height: 1.4em;
}

/*mobile - max-width: 375px*/
@media screen and (max-width: 375px){
    .container{
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: space-around;
        background: lightgrey;
    }
    .join, .subscription, .why-us{
        width: 100%;
        width: -webkit-fill-available;
    }
    .why-us{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

/*Desktop - max-width: 900px*/
@media screen and (max-width: 900px) and (min-width: 376px){
    .container{
        height: 100vh;
        display: grid;
        align-items: stretch;
        grid-template-columns: 1fr 1fr;
    }
    .join, .subscription, .why-us{
        padding: 10%;
        flex-direction: column;
        justify-content: space-around;
    }
    .join{
        padding: 6%;
        grid-column: 1 / -1;
    } 
    .subscription{
        grid-column: 1;
        border-bottom-left-radius: 6px;
    }
    .why-us{
        grid-column: 2;
        border-bottom-right-radius: 6px;
    }
}

/*Desktop - min-width: 1440px*/
@media screen and (min-width: 901px) and (max-width: 1440px){
    
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        justify-content: center;
        height: 100vh;
    }
    .join, .subscription, .why-us{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-flow: column;
    }
    .join{
        padding: 5%;
        grid-column: 1/-1;
    }
    .subscription {
        grid-column: 1;
        border-bottom-left-radius: 6px;
    }
    .subscription a {
        margin: 26px auto 0px; 
    }
    .why-us{
        grid-column: 2;
        border-bottom-right-radius: 6px;
    }
}